{% block google_seo_preview_widget %}
    {% set page = form.parent.vars.value %}

    {% if page.route is not empty %}
        <div class="google_seo_preview">
            <div class="title">{{ page.seoTitle }}</div>
            <div class="url">{{ page.site.host ?: app.request.host }}{{ page.route.path }}</div>
            <div class="description">{{ page.seoDescription }}</div>
        </div>
    {% endif %}

{% endblock %}
