.google_seo_preview {
    background-color : #fff;
    padding          : 10px;

    .title {
        color       : #1a0dab;
        font-size   : 18px;
        line-height : 21.5px;
    }

    .url {
        color       : #006621;
        font-size   : 14px;
        line-height : 18px;
    }

    .description {
        color       : #545454;
        font-size   : 13px;
        line-height : 1.4;
    }
}
